<main>
  <h1><%= name %></h1>
  <section id="description">
    <h2>About <%= name %></h2>
    <p><%= description %></p>
  </section>
  <section id="history">
    <h2>A little history</h2>
    <p><%= history %></p>
  </section>
  <section id="places">
    <h2>A few interesting places</h2>
    <ul>
      <% places.forEach(place => { %>
      <li><%= place %></li>
      <% }) %>
    </ul>
  </section>
  <section id="trivia">
    <h2>Trivia</h2>
    <ul>
      <% trivia.forEach(t => { %>
      <li><%= t %></li>
      <% }) %>
    </ul>
  </section>
</main>
